h2,h3,h4{
			color: red;
			font-size: 25px;
			font-family: fantasy;
			text-align: left;
			background-color:lightblue;
		}
		p{
			background-color: #ebebeb;
			font-weight: 600;
			font-family: serif;
			text-align: justify;
			color: black;
			font-size: 25px;
		}
		a{
			font-weight: 600;
			font-size: 20px;
			color: blue;
		}